<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Show Tracker</title>
        <link rel="stylesheet", href="../style.css">

        <script src="../index.js" charset="utf-8" defer></script>

    </head>
    
    <body>
        <header>
            <!-- Main title text -->
            <div class="title-container">
                <h1 class="title-text">
                    Show Tracker
                </h1>
            </div>
        </header>


        <div id="side-menu">
            <a href="/homepage" class="homepage-button">
                Homepage
            </a>
            <a href="/shows/profile" class="my-shows-button">
                My Shows
            </a>
            <a href="/shows/recommended" class="recommended-shows-button">
                Recommended Shows
            </a>
        </div>

        <main id="main-content">            

            <div class="top-container">
                <a href="#" class="nav" onclick="toggleNav()">
                    <div class="one"></div>
                    <div class="two"></div>
                    <div class="three"></div>
                </a>
                <div class="search-bar-container">
                    <input type="text" name="search-bar" id="search-bar" class="filter-input" placeholder="Search">
                </div>
                <div class="profile-button-container">
                    <a href="/profile" class="profile-button">Profile</a>
                </div>
            </div>
            
            <div class="profile-form-label">
                Profile: show other people who you are! Warning: updates to this are public
            </div>
            <div class="profile-form-container">
                <form class="profile-form" action="/profile" method="POST">
                    <label for="name-input">Name: </label>
                    <input type="text" id="name-input" name="name-input" {{#if name}}placeholder="{{name}}"{{/if}}>
                    <label for="description-input">Description: </label>
                    <input type="text" id="description-input" name="description-input" {{#if description}}placeholder="{{description}}"{{/if}}>
                    <label for="genre-input">Favorite Genre: </label>
                    <select id="genre-input" name="genre-input">
                        <option value="test">test</option>
                    </select>

                    <button type="submit" class="update-profile">Submit</button>
                    <button type="reset" class="reset-profile">Reset</button>
                </form>
            </div>
            {{#if message}}
                <h1 class="alert-message">{{message}}</h1>
            {{/if}}
            
        </main>
    </body>
</html>