body {
    margin: 0;
}

header {
    background-color: #d787ff;
    display: flex;
    align-items: center;
    position: relative;
}

.top-container {
    display: flexbox;
}

.show {
    display: inline-block;
}